.circular--landscape {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.circular-large-landscape {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--landscape img {
    width: auto;
    height: 100%;
}

.circular-large-landscape img {
    width: auto;
    height: 100%;
}

.chart{
    width: auto;
    height: 400px;
}

tr {
    background: white;
}

tr:nth-child(4n+2), tr:nth-child(4n+3) {
    background: lightgray;
}